
@import "~bootstrap/scss/bootstrap";

$primary-color: #1072e5;

body {
  padding: 0;
}

h1 {
  color: $primary-color; 
}

.addButton:hover {
  color: $primary-color; 
  text-decoration: none;
}

.addButton {
  color: $primary-color;
  text-decoration: none !important;
}

.addButton.collapsed:before {
  content: "+";
}

.addButton:before {
  content: "-";
  padding-right: 2px;
  font-weight: bold;
}